@import url('https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;
  font-family: cursive;
  z-index: 999;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a:hover {
  color: #ff523b;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.row .col-2 p {
  color: #000;
  font-size: 20px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  font-weight: 800;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  font-size: 18px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
  padding: 20px;
  border: 0;
}

.btn:hover {
  background: #563434;
}

.header {
  background-image: url('./images/image2.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.header .row {
  margin-top: 70px;
  height: 409px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  /* margin-top: 200px; */
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: 0.5s;
}

.col-4 img {
  width: 75%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating i {
  color: #ff523b;
}

.col-4:hover {
  transform: translateY(-5px);
}

/*----------- execlusive ------------*/
.execlusive {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .execlusive-img {
  padding: 50px;
}

small {
  color: #555;
}

/*-------- testimonial --------- */
.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa-solid.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}

.col-3 p {
  font-size: 20px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/*------- brands -------*/
.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

/*------- footer --------*/
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background-color: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/*------ media query for menu -------*/

@media (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    right: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    max-width: 260px;
    margin-top: 40px;
    margin-right: 15px;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  #MenuItems {
    display: none;
  }
}
/*-------- media query for menu items ---------*/
@media (max-width: 800px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}

.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}
.form-container {
  background: #fff;
  width: 300px;
  height: 500px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: 1s;
}
form input,
form textarea,
form select {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form textarea {
  height: 100px;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 15px 0;
  padding: 8px 30px;
  height: 40px;
}
form .btn:focus {
  outline: none;
}
#LoginForm {
  left: -300px;
}
#RegisterForm,
#addForm {
  left: 0;
}
form a {
  font-size: 12px;
}
#Indicator {
  width: 100px;
  border: none;
  background: #ff523f;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: 1s;
}

.category {
  background: #ff523f;
  border: black;
  border-radius: 50%;
  margin-left: 20px;
  text-align: center;
  height: 80px;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  max-width: 100px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.othernav {
  background: radial-gradient(#fff, #ffd6d6);
}

/*-------------- single product details -------------- */
.single-product {
  margin-top: 80px;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus {
  outline: none;
}
.single-product .fa-solid {
  color: #ff523b;
  margin-left: 10px;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/*-------- media query for menu ---------*/
@media (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
}

.number {
  position: relative;
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 50%;
  display: block;
  line-height: 44px;
  font-size: 20px;
  left: 0;
  bottom: -20px;
  background-color: #ff523b;
  box-shadow: none;
  color: white;
}

.sidebar {
  background: #fde0e0;
}

.side-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.side-list .item {
  width: 100%;
  height: 50px;
  padding: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

@media (max-width: 600px) {
  .item #title {
    display: none;
  }
}

.side-list .item:hover {
  cursor: pointer;
  background-color: #fab5b5;
}

.item #icon {
  margin-right: 5px;
}

.side-list #active {
  background-color: #fab5b5;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.418);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  top: 60px;
  right: -30px;
  position: absolute;
  z-index: 1;
}
@media (max-width: 600px) {
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: ' ';
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.418) transparent transparent transparent;
    transform: rotate(180deg);
  }
}

.newCategory {
  position: absolute;
  right: 500px;
  width: 50px;
  height: 20px;
  color: blue;
}

@media (max-width: 965px) {
  .newCategory {
    right: 200px;
  }
}

#picture {
  width: 100%;
}

#preview {
  width: 50%;
  border: 2px solid black;
  display: none;
}

/* order tracker */
.steps {
  display: flex;
  margin-top: 40px;
}
.steps .step {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  text-align: center;
}
.steps .step .step-icon-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
}
.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 3px;
  margin-top: -1px;
  background-color: #e1e7ec;
  content: '';
  z-index: 1;
}
.steps .step .step-icon-wrap::before {
  left: 0;
}
.steps .step .step-icon-wrap::after {
  right: 0;
}
.steps .step .step-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #e1e7ec;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #374250;
  font-size: 38px;
  line-height: 81px;
  z-index: 5;
}
.steps .step .step-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: #606975;
  font-size: 14px;
  font-weight: 500;
}
.steps .step:first-child .step-icon-wrap::before {
  display: none;
}
.steps .step:last-child .step-icon-wrap::after {
  display: none;
}
.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
  background-color: #ff523b;
}
.steps .step.completed .step-icon {
  border-color: #ff523b;
  background-color: #ff523b;
  color: #fff;
}
@media (max-width: 576px) {
  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}
@media (max-width: 1200px) {
  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}
.bg-faded,
.bg-secondary {
  background-color: #f5f5f5 !important;
}
